@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

html {
    background: var(--ctp-macchiato-base);
    color: var(--ctp-macchiato-text);
    font-family: Iosevka, serif;
    --default-size: 1rem;
    font-size: var(--default-size);
}

a {
    color: var(--ctp-macchiato-blue);
}
